.header {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: $duration;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #fff;

    // temp
    @include tablet {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .logo {
        position: relative;
        z-index: 2;
    }

    .menu {
        ul {
            display: flex;
            list-style: none;
            gap: 30px;
            font-size: 16px;
            font-weight: 700;
            color: $header-text-color;
            transition: $duration;
        }
        a {
            &:hover {
                color: $theme-color;
            }
        }
    }

    .lang {
        display: flex;
        align-items: center;
        color: $header-text-color;
        svg {
            margin-right: 7px;
        }
    }

    .burger-btn {
        display: none;
        width: 36px;
        height: 36px;
        z-index: 2;
        position: relative;
        order: 99;
        margin-left: auto;
        background-color: transparent;
        flex-shrink: 0;
        @include tablet {
            display: block;
        }
        span {
            display: block;
            position: absolute;
            width: 18px;
            height: 2px;
            left: 9px;
            opacity: 1;
            transform: rotate(0);
            transition: $duration;
            background-color: $grey-500;
            &:nth-child(1) {
                top: 9px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 17px;
            }
            &:nth-child(4) {
                top: 25px;
            }
        }
    }


}

.mobile-menu-open {
    .header {
        .menu {
            @include tablet {
                opacity: 1;
                pointer-events: auto;
                top: calc(100vh - 150px);
            }
        }
    }
    .burger-btn {
        span {
            &:nth-child(1) {
                top: 17px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
                width: 24px;
                left: 6px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                width: 24px;
                left: 6px;
            }
            &:nth-child(4) {
                top: 17px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
