$main-font: 'Gotham Pro';

$container-padding-x: 10px;
$container-max-width: 1440px;

$mobile-max-width: 767px;
$tablet-max-width: 1023px;

$duration: 0.3s;

$deep-blue: #262834;
$semi-deep-purple: #535868;
$red: #F88181;

$body-bg: #fff;
$text-color: $deep-blue;
$error-color: $red;


